.header__ {
    background-color: transparent;

    a,
    button,
    svg {
        color: #fff;
    }

    a,
    button {
        position: relative;
        font-size: 21px;
        cursor: pointer;
    }

    @media (max-width:1280px) {

        a,
        button {
            font-size: 18px;
        }

    }

    @media (max-width:992px) {

        a,
        button {
            font-size: 16px;
        }

    }

    .logo__ {
        cursor: pointer;
    }

    .logo__::before {
        display: none;
    }

    a::before,
    button::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 12px;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
        transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);

    }

    .Menu__>a::before,
    a[href='/custom-quote']::before,
    .iconBar__::before {
        display: none;
    }

    a:hover::before,
    button:hover::before {
        width: calc(100% - 24px);
        background-color: var(--bg-secondary);

    }
}

.ant-drawer-close {
    margin-left: auto;
}